<h2><%= "#{patron.first_name} #{patron.last_name}" %></h2>
<dl class="row">
  <% if patron.patron_type %>
    <dt class='col-4 col-md-2 font-weight-normal'>Patron type:</dt>
    <dd class='col-8 col-md-10 patron-type'><%= patron.patron_type %></dd>
  <% end %>
  <dt class="col-4 col-md-2 font-weight-normal">Status:</dt>
  <dd class="col-8 col-md-10 patron-status"><%= link_to_if patron.barred?, patron.status, contact_path, class: 'navbar-link', 'data-toggle' =>  'modal', 'data-target' => '#contact-modal-window' %></dd>
  <% if patron.borrow_limit %>
    <dt class="col-4 col-md-2 font-weight-normal">Borrower limit:</dt>
    <dd class="col-8 col-md-10 patron-status"><%= pluralize(patron.borrow_limit, 'checkout') %></dd>
  <% end %>
  <% if patron.fee_borrower? %>
    <dt class="col-4 col-md-2 font-weight-normal">eResource access:</dt>
    <dd class="col-8 col-md-10 patron-status">In-library only</dd>
  <% end %>
  <% if patron.expired_date && (patron.fee_borrower? || patron.proxy_borrower?) %>
    <dt class="col-4 col-md-2 font-weight-normal">Privileges expire:</dt>
    <dd class="col-8 col-md-10 expired-date"><%= l(patron.expired_date, format: :short) %></dd>
  <% end %>
  <dt class="col-4 col-md-2 font-weight-normal">Email:</dt>
  <dd class="col-8 col-md-10 email"><%= patron.email %></dd>
</dl>
