<h2><%= "#{patron.first_name} #{patron.last_name}" %></h2>
<dl class="row">
  <% if patron.patron_type %>
    <dt class='col-2 col-sm-1 font-weight-normal'>Patron type:</dt>
    <dd class='col-10 col-sm-11 patron-type'><%= patron.patron_type %></dd>
  <% end %>
  <dt class="col-2 col-sm-1 font-weight-normal">Status:</dt>
  <dd class="col-10 col-sm-11 patron-status"><%= patron.status %></dd>
  <% if patron.borrow_limit %>
    <dt class="col-2 col-sm-1 font-weight-normal">Borrower limit:</dt>
    <dd class="col-10 col-sm-11 patron-status"><%= pluralize(patron.borrow_limit, 'checkout') %></dd>
  <% end %>
  <% if patron.fee_borrower? %>
    <dt class="col-2 col-sm-1 font-weight-normal">eResource access:</dt>
    <dd class="col-10 col-sm-11 patron-status">In-library only</dd>
  <% end %>
  <% if patron.expired_date && (patron.fee_borrower? || patron.proxy_borrower?) %>
    <dt class="col-2 col-sm-1 font-weight-normal">Privileges expire:</dt>
    <dd class="col-10 col-sm-11 expired-date"><%= l(patron.expired_date, format: :short) %></dd>
  <% end %>
  <dt class="col-2 col-sm-1 font-weight-normal">Email:</dt>
  <dd class="col-10 col-sm-11 email"><%= patron.email %></dd>
</dl>
