<h1>Log in to see your checkouts, requests, fines &amp; fees</h1>

<% if @ils_ok %>
  <div class="row">
    <div class="page-section col-12 col-sm-6">
      <h2>Stanford students, faculty, staff</h2>
      <%= link_to 'Log in with SUNet ID', login_by_sunetid_url, class: 'btn btn-primary' %>
    </div>

    <div class="page-section col-12 col-sm-6">
      <h2><%= proxy_login_header %></h2>
      <%= link_to 'Log in with PIN', login_url, class: 'btn btn-secondary' %>
      <%= link_to 'Request a PIN', reset_pin_path, class: 'btn btn-link' %>
    </div>
  </div>
<% else %>
  <%= render partial: 'shared/unavailable' %>
<% end %>

<div class="page-section">
  <h2>Policies &amp; information</h2>

  <ul class="list-unstyled">
    <li>
      <%= link_to 'https://library.stanford.edu/services/borrow', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Access &amp; privileges
      <% end %>
    </li>
    <li>
      <%= link_to 'https://library.stanford.edu/visitor-access', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Fee-based library memberships
      <% end %>
    </li>
  </ul>
</div>

<div class="page-section">
  <h2>Looking for online resources?</h2>
  <p>
    A library account is not required to access Stanford's e-resources. <br />
    Find e-resources in
    <%= link_to 'https://searchworks.stanford.edu', target: '_blank' do %>
      <%= sul_icon :'sharp-open_in_new-24px' %> SearchWorks
    <% end %>
    and log in there with your SUNet ID.
  </p>
</div>
