<div class="page-section">
  <h3><%= sul_icon :'sharp-playlist_add_check-24px', classes: 'lg' %> Checkouts: <%= patron.checkouts.length %><%= " (#{patron.remaining_checkouts} remaining)" if patron.remaining_checkouts %></h3>

  <div class="mb-1">
    <%= render 'checkouts/renew_all_button' %>
  </div>

  <% count = patron.checkouts.select(&:recalled?).length %>
  <% if count.positive? %>
    <div class="ml-4"><%= sul_icon :'sharp-error-24px', classes: 'text-recalled' %> <%= count %> recalled</div>
  <% end %>

  <% count = patron.checkouts.select(&:overdue?).length %>
  <% if count.positive? %>
    <div class="ml-4"><%= sul_icon :'sharp-warning-24px', classes: 'text-overdue' %> <%= count %> overdue</div>
  <% end %>
</div>

<div class="page-section">
  <h3><%= sul_icon :'sharp-access_time-24px', classes: 'lg' %> Requests: <%= patron.requests.length %></h3>

  <% count = patron.requests.select(&:ready_for_pickup?).length %>
  <% if count.positive? %>
    <div class="ml-4">
      <%= sul_icon :'sharp-check_circle-24px', classes: 'text-ready' %> <%= count %> ready for pickup

      <% if schedule_pickup_link_or_dropdown.present? || patron_or_group.can_schedule_special_collections_visit? %>
        (<%= link_to('schedule appointment', requests_path) %>)
      <% end if Settings.scheduling %>
    </div>
  <% end %>
</div>

<div class="page-section">
  <h3><%= sul_icon :'sharp-attach_money-24px', classes: 'lg' %> Fines &amp; fees payable: <%= number_to_currency(patron.fines.sum(&:owed)) %></h3>

  <% if params[:group] && patron.fines.sum(&:owed).positive? # temporary fix until Symphony CGI scripts are updated %>
    <% if patron.sponsor? # temporary fix until Symphony CGI scripts are updated %>
      <div class="ml-4">
        Fines can be paid in My Library Account only by the borrower who accrued them. <br />
        To pay proxy fines using iJournal,
        <%= link_to contact_path, data: { 'mylibrary-modal' => 'trigger' } do %>
            contact Circulation & Privileges.
        <% end %>
      </div>
    <% else %>
      <div class="ml-4">
        <%= sul_icon :'sharp-error-24px', classes: 'text-recalled' %> The research group has unpaid fines that may affect the status of all proxies.
      </div>
    <% end %>
  <% else %>
    <div class="mb-1">
      <%= render 'fines/pay_all_button' %>
    </div>
  <% end %>

  <% accruing = patron.checkouts.sum(&:accrued) %>
  <% if accruing.positive? %>
    <div class="ml-4"><%= sul_icon :'sharp-warning-24px', classes: 'text-overdue' %> <%= number_to_currency(accruing) %> accruing on overdue items</div>
  <% end %>
</div>
