<h1 class="sr-only">Summary</h1>

<% content_for(:navigation) do %>
  <%= render 'shared/navigation' %>
  <%= render 'shared/group_tabs' if patron_or_group.group? %>
<% end %>

<div class="page-section">
  <%= render patron_or_group %>
</div>

<% if Settings.debug %>
<details class="alert alert-info">
  <summary>FOLIO data</summary>
  <%= debug patron_or_group %>
</details>
<% end %>

<%= render 'summary', patron: patron_or_group %>

<div class="page-section">
  <h2>Policies &amp; information</h2>
  <ul class="list-unstyled">
    <li class="pb-1">
      <%= link_to 'https://library.stanford.edu/services/borrow-and-request', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Borrowing and renewals
      <% end %>
    </li>
    <li>
      <%= link_to 'https://library.stanford.edu/library-accessibility', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Library accessibility resources
      <% end %>
    </li>
  </ul>
</div>
