<h1 class="sr-only">Summary</h1>

<% content_for(:navigation) do %>
  <%= render 'shared/navigation' %>
  <%= render 'shared/group_tabs' if patron_or_group.group? %>
<% end %>

<div class="page-section">
  <%= render patron_or_group %>

  <% if Settings.schedule_once.enabled %>
    <dl class="row">
      <dt class="col-5 col-sm-4 col-md-3 col-lg-2 font-weight-normal">Library access:</dt>
      <dd class="col-7 col-sm-8 col-md-9 col-lg-10 library-access">
        <% if patron_or_group.can_schedule_green_access? %>
          <%= link_to schedule_green_path, role: 'button', class: 'btn btn-primary', data: { 'mylibrary-modal': 'trigger' } do %>
            🗓 Schedule access to Green Library
          <% end %>
        <% else %>
          Not eligible during current phase of Research Restart Plan
        <% end %>

        <%= link_to 'https://library.stanford.edu/returntoresearch', class: 'd-block mt-1', target: '_blank' do %>
          <%= sul_icon :'sharp-open_in_new-24px' %> Current status of library services
        <% end %>
      </dd>
    </dl>
  <% end %>
</div>

<%= render 'summary', patron: patron_or_group %>

<div class="page-section">
  <h2>Policies &amp; information</h2>
  <ul class="list-unstyled">
    <li>
      <%= link_to 'https://library.stanford.edu/using/borrow-renew-return', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Circulation policy
      <% end %>
    </li>
    <li>
      <%= link_to 'https://library.stanford.edu/using/borrow-renew-return/borrower-responsibilities', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Borrower responsibilities
      <% end %>
    </li>
    <li>
      <%= link_to 'https://library.stanford.edu/using/access-and-privileges/suspended-privileges', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Suspended privileges
      <% end %>
    </li>
  </ul>
</div>
