<h1 class="sr-only">Summary</h1>

<% content_for(:navigation) do %>
  <%= render 'shared/navigation' %>
<% end %>

<h2><%= "#{@patron.first_name} #{@patron.last_name}" %></h2>
<dl class='row'>
  <dt class='col-1'>Status</dt>
  <dd><%= @patron.status %></dd>
</dl>
<dl class='row'>
  <dt class='col-1'>Email</dt>
  <dd><%= @patron.email %></dd>
</dl>

<h3>Policies &amp; information</h3>
<ul>
  <li>
    <%= link_to 'https://library.stanford.edu/using/borrow-renew-return/borrower-responsibilities', target: '_blank' do %>
      <%= sul_icon :'sharp-open_in_new-24px' %> Borrower responsibilities
    <% end %>
  </li>
  <li>
    <%= link_to 'https://library.stanford.edu/using/borrow-renew-return', target: '_blank' do %>
      <%= sul_icon :'sharp-open_in_new-24px' %> Circulation policy and instructions
    <% end %>
  </li>
</ul>
