<h1>Reset/Request PIN</h1>
<%= form_tag reset_pin_url, method: :post do %>
  <div class="form-group">
    <%= label_tag :university_id, t('mylibrary.university_id.label') %>
    <%= text_field_tag :university_id, nil, class: 'form-control', 'aria-describedby': 'university-id-help', autofocus: true %>
    <small id="university-id-help" class="form-text text-muted"><%= t('mylibrary.university_id.help_text') %></small>
  </div>

  <%= submit_tag 'Reset/Request PIN', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', root_url, class: 'btn btn-link' %>
<% end %>
