<li class="row d-flex flex-wrap list-group-item">
  <div class="d-flex flex-row flex-grow-1 justify-content-between w-100 row col-md-4">
    <div class="w-50 col-md-6 status">
      <%= fine.nice_status %>
    </div>
    <div class="w-50 col-md-6 text-right text-md-left owed">
      <%= number_to_currency(fine.owed) %>
    </div>
  </div>
  <div class="d-flex flex-grow-1 flex-column flex-md-row w-75 row col-md-8">
    <% if fine.bib? %>
      <h3 class="col-md-7 clamp-2 record-title title text-reset"><%= fine.title %></h3>
      <div class="d-flex flex-row row col-md-5">
        <div class="w-50 col-md-6 clamp-1 author"><%= fine.author %></div>
        <div class="w-50 col-md-6 call_number" data-shelfkey="<%= fine.shelf_key %>"><%= fine.call_number %></div>
      </div>
    <% end %>
  </div>
  <div>
    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseDetails-<%= fine.key.parameterize %>" aria-expanded="false" aria-controls="collapseDetails-<%= fine.key.parameterize %>">
      <span class="expand-icon"><%= sul_icon :'sharp-add-24px' %><span class="sr-only">Expand</span></span>
      <span class="collapse-icon"><%= sul_icon :'sharp-remove-24px' %><span class="sr-only">Collapse</span></span>
    </button>
  </div>
  <div class="collapse w-100" id="collapseDetails-<%= fine.key.parameterize %>">
    <dl class="row mb-0">
      <% if params[:group] %>
        <dt class="col-3 offset-1 col-md-2 offset-md-2">Borrower:</dt>
        <dd class="col-8"><%= patron.group.member_name(fine.patron_key) %></dd>
      <% end %>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Billed:</dt>
      <dd class="col-8"><%= l(fine.bill_date, format: :short) %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2"><%= nice_status_fee_label(fine.nice_status) %>:</dt>
      <dd class="col-8"><%= number_to_currency(fine.fee) %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Source:</dt>
      <dd class="col-8"><%= library_name fine.library %></dd>
    </dl>
    <div class="row">
      <div class="col-11 offset-1 col-md-10 offset-md-2">
        <%= link_to contact_path(library: fine.library), data: { 'mylibrary-modal' => 'trigger' } do %>
          <%= sul_icon 'sharp-email-24px' %>
          Contact library
        <% end %>
      </div>
    </div>

    <%= detail_link_to_searchworks(fine.catkey) if fine.bib? %>
  </div>
</li>
