<li>
  <%= fine.key %>
  <%= fine.status %>
  <%= fine.catkey %>
  <%= fine.title %>
  <%= fine.author %>
  <%= fine.call_number %>
  <%= fine.shelf_key %>
  <%= fine.bill_date %>
  <%= fine.owed %>
</li>
