<h1 class="sr-only">Fines</h1>

<% content_for(:navigation) do %>
  <%= render 'shared/navigation' %>
  <%= render partial: 'shared/group_tabs', locals: { self_value: number_to_currency(patron.fines.sum(&:owed)), group_value: number_to_currency(patron.group.fines.sum(&:owed)) } if patron_or_group.group? %>
<% end %>

<div class="page-section">
  <h2>Payable: <%= number_to_currency(@fines.sum(&:owed)) %></h2>

  <% if @fines.any? && !params[:payment_pending] %>
    <div class="mb-3">
      <%= render 'fines/pay_all_button' %>
    </div>

    <div class="d-none d-md-flex row font-weight-bold list-header">
      <div class="row col-md-4">
        <div class="col-md-12 col-lg-6">Reason</div>
        <div class="col-md-12 col-lg-6">Amount</div>
      </div>
      <div class="row col-md-8">
        <div class="col-md-7">Title</div>
        <div class="row col-md-5">
          <div class="col-md-12 col-lg-6">Author</div>
          <div class="col-md-12 col-lg-6 call_number">Call number</div>
        </div>
      </div>
    </div>
    <ul class="fines list-group">
      <%= render @fines %>
    </ul>
  <% end %>
</div>

<% accruing = @checkouts.select{ |item| item.accrued > 0.0 } %>
<div class="page-section">
  <h2>Accruing: <%= number_to_currency(accruing.sum(&:accrued)) %></h2>
    <% if accruing.any? %>
      <span class="text-overdue">
        <%= sul_icon :'sharp-warning-24px' %>
      </span>

      Fines are accruing on <%= pluralize(accruing.length, 'overdue item') %>. You must return the <%= accruing.length == 1 ? 'item' : 'items' %> before you can pay this fine.
    <% end %>
</div>


<% if @payments.any? %>
  <div id="payments" class="page-section">
    <div class="d-flex justify-content-between">
      <h2>Payment History</h2>

      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort (<span data-sort-label>Date paid</span>)
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li class="dropdown-item active" data-sort="due_date">Reason</li>
          <li class="dropdown-item" data-sort="status">Date paid</li>
          <li class="dropdown-item" data-sort="title">Title</li>
        </ul>
      </div>
    </div>

    <div class="d-none d-md-flex row font-weight-bold list-header">
      <div class="row col-md-12 col-lg-6">
        <div class="col-md-4" data-sort="reason">Reason</div>
        <div class="col-md-4" data-sort="amount">Amount</div>
        <div class="col-md-4 active" data-sort="due_date">Paid on</div>
      </div>
      <div class="row col-md-12 col-lg-6">
        <div class="col-md-7" data-sort="title">Title</div>
      </div>
    </div>

    <ul class="payments list-group">
      <%= render @payments %>
    </ul>
  </div>
<% end %>

<div class="page-section">
  <h2>Policies &amp; information</h2>

  <ul class="list-unstyled">
    <li>
      <%= link_to 'https://library.stanford.edu/using/borrow-renew-return/fines-and-fees', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Fines and fees
      <% end %>
    </li>
    <li>
      <%= link_to 'https://library.stanford.edu/using/borrow-renew-return/pay-or-contest-fine', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Pay or contest a fine
      <% end %>
    </li>
  </ul>
</div>
