<h1 class="sr-only">Fines</h1>

<% content_for(:navigation) do %>
  <%= render 'shared/navigation' %>
<% end %>

<% if @fines.any? %>
  <div class="page-section">
    <h2>Payable: <%= number_to_currency(@fines.sum(&:owed)) %></h2>

    <div class="d-none d-md-flex row font-weight-bold list-header">
      <div class="row col-md-4">
        <div class="col-md-6">Reason</div>
        <div class="col-md-6">Amount</div>
      </div>
      <div class="row col-md-8">
        <div class="col-md-7">Title</div>
        <div class="row col-md-5">
          <div class="col-md-6">Author</div>
          <div class="col-md-6 call_number">Call number</div>
        </div>
      </div>
    </div>

    <ul class="fines list-group">
      <%= render @fines %>
    </ul>
  </div>
<% end %>

<% accruing = @checkouts.select{ |item| item.accrued > 0.0 } %>
<% if accruing.any? %>
  <div class="page-section">
    <h2>Accruing: <%= number_to_currency(accruing.sum(&:accrued)) %></h2>

    <span class="text-overdue">
      <%= sul_icon :'sharp-warning-24px' %>
    </span>
    Fines are accruing on <%= pluralize(accruing.length, 'overdue item') %>. You must return the <%= pluralize(accruing.length, 'item')%> before you can pay this fine.
  </div>
<% end %>

<div class="page-section">
  <h2>Policies &amp; information</h2>

  <ul class="list-unstyled">
    <li>
      <%= link_to 'https://library.stanford.edu/using/borrow-renew-return/fines-and-fees', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Fines and fees
      <% end %>
    </li>
    <li>
      <%= link_to 'https://library.stanford.edu/using/borrow-renew-return/pay-or-contest-fine', target: '_blank' do %>
        <%= sul_icon :'sharp-open_in_new-24px' %> Pay or contest a fine
      <% end %>
    </li>
  </ul>
</div>
