<div id="header-navbar" class="navbar navbar-expand-md navbar-dark bg-cardinal-red topbar">
  <div class="container justify-content-center justify-content-md-between">
    <%= link_to 'My Library Account', root_path, class: 'navbar-brand font-weight-light py-3' %>
    <div class="topnav-links">
      <% if current_user? %>
        <%= link_to contact_path, class: 'navbar-link', 'data-toggle' =>  'modal', 'data-target' => '#contact-modal-window' do %>
          <%= sul_icon :'sharp-email-24px', classes: 'mr-1' %> Contact Access Services
        <% end %>
        <%= link_to 'tel:+16507231493', class: 'navbar-link' do %>
          <%= sul_icon :'sharp-phone-24px', classes: 'mr-1' %> (650) 723-1493
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user? %>
  <div class="modal fade" id="contact-modal-window" tabindex="-1" role="dialog" aria-labelledby="contactForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= render 'shared/contact_forms/form' %>
      </div>
    </div>
  </div>
<% end %>
