<nav role="navigation" aria-label="Main navigation" id="mainnav" class="pt-3 pb-3">
  <ul class="nav nav-pills nav-justified container pr-0">
    <li class="nav-item">
      <%= link_to summaries_path(group: params[:group]), class: "nav-link #{active_page_class('summaries')}", aria: {current: controller_name == 'summaries' ? 'page' : false } do %>
        <%= sul_icon :'sharp-person-24px', classes: 'lg' %>
        <span class="label">Summary</span>
        <% if patron_or_group.barred? %>
          <span class="info patron-barred"><%= sul_icon :'sharp-error-24px' %><%= patron_or_group.status %></span>
        <% else %>
          <span class="info"><%= patron_or_group.status %></span>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to checkouts_path(group: params[:group]), class: "nav-link #{active_page_class('checkouts')}", aria: {current: controller_name == 'checkouts' ? 'page' : false } do %>
        <%= sul_icon :'sharp-playlist_add_check-24px', classes: 'lg' %>
        <span class="label">Checkouts</span>
        <% recalled_count = patron_or_group.checkouts.select(&:recalled?).length %>
        <% overdue_count = patron_or_group.checkouts.select(&:overdue?).length %>
        <% if recalled_count.positive? %>
          <span class="info text-recalled"><%= sul_icon :'sharp-error-24px' %> <%= pluralize(recalled_count, 'recall') %></span>
        <% elsif overdue_count.positive? %>
          <span class="info text-overdue"><%= sul_icon :'sharp-warning-24px' %> <%= overdue_count %> overdue</span>
        <% else %>
          <span class="info"><%= patron_or_group.checkouts.length %></span>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to requests_path(group: params[:group]), class: "nav-link #{active_page_class('requests')}", aria: {current: controller_name == 'requests' ? 'page' : false } do %>
        <%= sul_icon :'sharp-access_time-24px', classes: 'lg' %>
        <span class="label">Requests</span>
        <% pickup_count = patron_or_group.requests.select(&:ready_for_pickup?).length + patron.illiad_requests.select(&:ready_for_pickup?).length %>
        <% if pickup_count.positive? %>
          <span class="info text-ready"><%= sul_icon :'sharp-check_circle-24px' %> <%= pickup_count %> ready</span>
        <% else %>
          <span class="info"><%= patron_or_group.requests.length + patron.illiad_requests.length %></span>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to fines_path(group: params[:group]), class: "nav-link #{active_page_class('fines')}", aria: {current: controller_name == 'fines' ? 'page' : false } do %>
        <%= sul_icon :'sharp-attach_money-24px', classes: 'lg' %>
        <span class="label">Fines</span>
        <% owed = patron_or_group.fines.sum(&:owed) %>
        <% accruing = patron_or_group.checkouts.sum(&:accrued) %>
        <% if owed.positive? %>
          <span class="info text-recalled"><%= sul_icon :'sharp-error-24px' %> <%= number_to_currency(owed) %></span>
        <% elsif accruing.positive? %>
          <span class="info text-overdue"><%= sul_icon :'sharp-warning-24px' %> <%= number_to_currency(accruing) %></span>
        <% else %>
          <span class="info"><%= number_to_currency(0) %></span>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>
