<li class="row d-flex flex-wrap list-group-item">
  <div class="d-flex flex-row flex-grow-1 justify-content-between w-100 row col-md-4">
    <div class="w-50 col-md-12 col-lg-6 library">
      <span class="d-md-none">Deliver to </span> Stanford
    </div>
    <div class="w-50 col-md-12 col-lg-6 text-right text-md-left date">
      In transit
    </div>
  </div>
  <div class="d-flex flex-grow-1 flex-column flex-md-row w-75 row col-md-8">
    <h3 class="col-md-7 clamp-3 record-title title text-reset"><%= borrow_direct_request.title %></h3>
    <div class="d-flex flex-row row col-md-5">
      <div class="w-50 col-md-12 col-lg-6"></div>
      <div class="w-50 col-md-12 col-lg-6"></div>
    </div>
  </div>
  <div>
    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseRequest-<%= borrow_direct_request.key %>" aria-expanded="false" aria-controls="collapseRequest-<%= borrow_direct_request.key %>">
      <span class="expand-icon"><%= sul_icon :'sharp-add-24px' %><span class="sr-only">Expand</span></span>
      <span class="collapse-icon"><%= sul_icon :'sharp-remove-24px' %><span class="sr-only">Collapse</span></span>
    </button>
  </div>
  <div class="collapse w-100" id="collapseRequest-<%= borrow_direct_request.key %>">
    <dl class="row mb-0">
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Requested:</dt>
      <dd class="col-8"><%= l(borrow_direct_request.date_submitted, format: :short) %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Source:</dt>
      <dd class="col-8">BorrowDirect</dd>
    </dl>
  </div>
</li>
