<li class="row d-flex flex-wrap list-group-item">
  <div class="d-flex flex-row flex-grow-1 justify-content-between w-100 row col-md-4">
    <div class="w-50 col-md-6 library">
      <% if request.ready_for_pickup? %>
        <span class="text-ready font-weight-bold">
          <%= sul_icon 'sharp-check_circle-24px' %>
          <span class="d-md-none">Pick up at </span><%= Mylibrary::Application.config.library_map[request.pickup_library] || request.pickup_library %>
        </span>
      <% else %>
        <span class="d-md-none">Deliver to </span><%= Mylibrary::Application.config.library_map[request.pickup_library] || request.pickup_library %>
      <% end %>

    </div>
    <% if request.pickup_date %>
      <div class="w-50 col-md-6 text-right text-md-left date" data-date="<%= request.pickup_date.strftime('%FT%T') %>">
        <%= l(request.pickup_date, format: :short) %>
      </div>
    <% elsif request.fill_by_date %>
      <div class="w-50 col-md-6 text-right text-md-left date" data-date="<%= request.fill_by_date.strftime('%FT%T') %>">
        <%= l(request.fill_by_date, format: :short) %>
      </div>
    <% elsif request.expiration_date %>
      <div class="w-50 col-md-6 text-right text-md-left date" data-date="<%= request.expiration_date.strftime('%FT%T') %>">
        <%= l(request.expiration_date, format: :short) %>
      </div>
    <% end %>
  </div>
  <div class="d-flex flex-grow-1 flex-column flex-md-row w-75 row col-md-8">
    <h3 class="col-md-7 record-title title"><%= request.title %></h3>
    <div class="d-flex flex-row row col-md-5">
      <div class="w-50 col-md-6 author"><%= request.author %></div>
      <div class="w-50 col-md-6 call_number" data-shelfkey="<%= request.shelf_key %>"><%= request.call_number %></div>
    </div>
  </div>
  <div>
    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseExample-<%= request.key.parameterize %>" aria-expanded="false" aria-controls="collapseExample-<%= request.key.parameterize %>">
      <span class="expand-icon"><%= sul_icon :'sharp-add-24px' %><span class="sr-only">Expand</span></span>
      <span class="collapse-icon"><%= sul_icon :'sharp-remove-24px' %><span class="sr-only">Collapse</span></span>
    </button>
  </div>
  <div class="collapse w-100" id="collapseExample-<%= request.key.parameterize %>">
    <dl class="row justify-content-center">
      <% if request.placed_date %>
        <dt class="col-5">Requested on:</dt>
        <dd class="col-5"><%= l(request.placed_date, format: :short) %></dd>
      <% end %>
      <dt class="col-5">Waitlist position:</dt>
      <dd class="col-5"><%= request.waitlist_position %></dd>
      <dt class="col-5">Source:</dt>
      <dd class="col-5"><%= Mylibrary::Application.config.library_map[request.placed_library] || request.placed_library %></dd>
    </dl>

    <%= detail_link_to_searchworks(request.catkey) %>
  </div>
</li>
