<% # Partial for really a "request" but displayed as a check out %>
<% request = cdl_checkout %>
<% checkout = request.circ_record %>
<li class="list-group-item cdl-checkout">
  <div class="row d-flex flex-wrap position-relative justify-content-between">
    <div class="d-flex flex-row flex-grow-1 justify-content-between w-100 row col-md-4">
      <div class="w-50 col-md-12 col-lg-6 library" data-sort-library="<%= h request.sort_key(:library) %>">
        <%= cdl_resume_viewing_link(request) %>
      </div>
      <div class="w-50 col-md-12 col-lg-6 text-right text-md-left date" data-sort-date="<%= h request.sort_key(:date) %>">
        <span class="d-inline d-md-none mr-2">by</span>
        <%= today_with_time_or_date(checkout.due_date, short_term: checkout.short_term_loan?) %>
      </div>
    </div>
    <div class="order-1 order-md-1 col-10 col-md-5 align-items-baseline">
      <h3 class="clamp-3 record-title title text-reset" data-sort-title="<%= h request.sort_key(:title) %>"><%= request.title %></h3>
    </div>
    <div class="order-3 order-md-2 d-flex flex-row flex-grow-1 row col-md-3">
      <div class="w-50 col-md-12 col-lg-6 clamp-1 author" data-sort-author="<%= h request.sort_key(:author) %>"><%= request.author %></div>
      <div class="w-50 col-md-12 col-lg-6 call_number" data-sort-call_number="<%= h request.sort_key(:call_number) %>"><%= request.call_number %></div>
    </div>
    <button class="col-2 col-md order-2 order-md-3 btn collapsed stretched-link position-static" type="button" data-toggle="collapse" data-target="#collapseDetails-<%= request.key.parameterize %>" aria-expanded="false" aria-controls="collapseDetails-<%= request.key.parameterize %>">
      <span class="expand-icon"><%= sul_icon :'sharp-add-24px' %><span class="sr-only">Expand</span></span>
      <span class="collapse-icon"><%= sul_icon :'sharp-remove-24px' %><span class="sr-only">Collapse</span></span>
    </button>
  </div>
  <div class="collapse w-100" id="collapseDetails-<%= request.key.parameterize %>">
    <dl class="row mb-0">
      <% if !checkout.renewable? %>
          <dt class="col-3 offset-1 col-md-2 offset-md-2">Can I renew?</dt>
          <dd class="col-8"><%= checkout.non_renewable_reason %></dd>
      <% end %>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Borrowed:</dt>
      <dd class="col-8">
        <%= today_with_time_or_date(checkout.checkout_date, short_term: checkout.short_term_loan?) %>
      </dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Remaining:</dt>
      <dd class="col-8"><%= time_remaining_for_checkout(checkout) %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Source:</dt>
      <dd class="col-8"><%= library_name request.library %></dd>
    </dl>
    <%= detail_link_to_searchworks(request.catkey) unless request.from_ill? %>
  </div>
</li>
