<li class="row d-flex flex-wrap list-group-item <%= list_group_item_status_for_checkout(checkout)%>">
  <div class="d-flex flex-row flex-grow-1 justify-content-between w-100 row col-md-4">
    <div class="w-50 col-md-6 status">
      <%= render_checkout_status(checkout) %>
    </div>
    <div class="w-50 col-md-6 text-right text-md-left due_date" data-date="<%= checkout.due_date.strftime('%FT%T') %>">
      <% if checkout.renewable? %>
        <span class="renewable-indicator">
          <%= sul_icon 'renew' %>
        </span>
      <% end %>
      <%= today_with_time_or_date(checkout.due_date, short_term: checkout.short_term_loan?) %>
    </div>
  </div>
  <div class="d-flex flex-grow-1 flex-column flex-md-row w-75 row col-md-8">
    <h3 class="col-md-7 record-title title"><%= checkout.title %></h3>
    <div class="d-flex flex-row row col-md-5">
      <div class="w-50 col-md-6 author"><%= checkout.author %></div>
      <div class="w-50 col-md-6 call_number" data-shelfkey="<%= checkout.shelf_key %>"><%= checkout.call_number %></div>
    </div>
  </div>
  <div>
    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseExample-<%= checkout.key.parameterize %>" aria-expanded="false" aria-controls="collapseExample-<%= checkout.key.parameterize %>">
      <span class="expand-icon"><%= sul_icon :'sharp-add-24px' %><span class="sr-only">Expand</span></span>
      <span class="collapse-icon"><%= sul_icon :'sharp-remove-24px' %><span class="sr-only">Collapse</span></span>
    </button>
  </div>
  <div class="collapse w-100" id="collapseExample-<%= checkout.key.parameterize %>">
    <% if checkout.renewable? %>
      <div class="row">
        <div class="col-11 offset-1 col-md-10 offset-md-2">
          <%= form_tag renewals_path, method: :post do %>
            <%= hidden_field_tag :resource, checkout.resource %>
            <%= hidden_field_tag :item_key, checkout.item_key %>
            <%= hidden_field_tag :title, checkout.title %>
            <%= button_tag class: 'btn btn-link btn-renewable-submit', type: 'submit' do %>
              <%= sul_icon 'renew' %> Renew this item
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <dl class="row">
      <% if checkout.claimed_returned? %>
        <dt class="col-11 offset-1 col-md-10 offset-md-2">Claim review is in process</dt>
        <dd></dd>
      <% end %>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Borrowed:</dt>
      <dd class="col-8">
        <%= today_with_time_or_date(checkout.checkout_date, short_term: checkout.short_term_loan?) %>
      </dd>
      <% if checkout.renewal_date  %>
        <dt class="col-3 offset-1 col-md-2 offset-md-2">Renewed on:</dt>
        <dd class="col-8"><%= l(checkout.renewal_date, format: :short) %></dd>
      <% end %>
      <% if checkout.recalled_date  %>
        <dt class="col-3 offset-1 col-md-2 offset-md-2">Recalled on:</dt>
        <dd class="col-8"><%= l(checkout.recalled_date, format: :short) %></dd>
      <% end %>
      <% if checkout.overdue? %>
        <dt class="col-3 offset-1 col-md-2 offset-md-2">Days overdue:</dt>
        <dd class="col-8"><%= checkout.days_overdue %></dd>
        <dt class="col-3 offset-1 col-md-2 offset-md-2">Fines accrued:</dt>
        <dd class="col-8"><%= number_to_currency(checkout.accrued) %> </dd>
      <% else %>
        <dt class="col-3 offset-1 col-md-2 offset-md-2">Remaining:</dt>
        <dd class="col-8"><%= time_remaining_for_checkout(checkout) %></dd>
      <% end %>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Source:</dt>
      <dd class="col-8"><%= library_name checkout.library %></dd>
    </dl>

    <%= detail_link_to_searchworks(checkout.catkey) %>
  </div>
</li>
