<li class="d-flex flex-wrap d-md-block list-group-item">
  <div class="d-flex flex-row flex-grow-1 justify-content-between w-100 d-md-inline">
    <div class="d-md-inline"><%= checkout.status %></div>
    <div class="d-md-inline"><%= l(checkout.due_date, format: :short) %></div>
  </div>
  <div class="d-flex flex-grow-1 flex-column d-md-inline w-75">
    <div class="d-md-inline title"><%= checkout.title %></div>
    <div class="d-flex flex-row d-md-inline">
      <div class="w-50 d-md-inline"><%= checkout.author %></div>
      <div class="w-50 d-md-inline call_number"><%= checkout.call_number %></div>
    </div>
  </div>
  <div class="d-md-inline">
    <button class="d-md-inline btn collapsed" type="button" data-toggle="collapse" data-target="#collapseExample-<%= checkout.key.parameterize %>" aria-expanded="false" aria-controls="collapseExample-<%= checkout.key.parameterize %>">
      <span class="expand-icon">➕</span>
      <span class="collapse-icon">➖</span>
    </button>
  </div>
  <div class="collapse w-100" id="collapseExample-<%= checkout.key.parameterize %>">
    <dl class="row justify-content-center">
      <dt class="col-5">Borrowed on:</dt>
      <dd class="col-5"><%= l(checkout.checkout_date, format: :short) %></dd>
      <% if checkout.renewal_date  %>
        <dt class="col-5">Renewed on:</dt>
        <dd class="col-5"><%= l(checkout.renewal_date, format: :short) %></dd>
      <% end %>
      <% if checkout.recalled_date  %>
        <dt class="col-5">Recalled on:</dt>
        <dd class="col-5"><%= l(checkout.recalled_date, format: :short) %></dd>
      <% end %>
      <dt class="col-5">Source:</dt>
      <dd class="col-5"><%= Mylibrary::Application.config.library_map[checkout.library] || checkout.library %></dd>
    </dl>
    <%= link_to 'View in SearchWorks', Settings.sw.url + checkout.catkey %>
  </div>
</li>
