<li class="row d-flex flex-wrap list-group-item <%= list_group_item_status_for_checkout(checkout)%>">
  <div class="d-flex flex-row flex-grow-1 justify-content-between w-100 row col-md-4">
    <div class="w-50 col-md-6 status">
      <% if checkout.recalled? %>
        <span class="text-recalled"><%= sul_icon :'sharp-error-24px' %> Recalled</span>
      <% elsif checkout.overdue? %>
        <span class="text-overdue"><%= sul_icon :'sharp-warning-24px' %> Overdue</span>
      <% end %>
    </div>
    <div class="w-50 col-md-6 text-right text-md-left due_date" data-date="<%= checkout.due_date.strftime('%FT%T') %>">
      <%= l(checkout.due_date, format: :short) %>
    </div>
  </div>
  <div class="d-flex flex-grow-1 flex-column flex-md-row w-75 row col-md-8">
    <h3 class="col-md-7 record-title title"><%= checkout.title %></h3>
    <div class="d-flex flex-row row col-md-5">
      <div class="w-50 col-md-6 author"><%= checkout.author %></div>
      <div class="w-50 col-md-6 call_number" data-shelfkey="<%= checkout.shelf_key %>"><%= checkout.call_number %></div>
    </div>
  </div>
  <div>
    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseExample-<%= checkout.key.parameterize %>" aria-expanded="false" aria-controls="collapseExample-<%= checkout.key.parameterize %>">
      <span class="expand-icon"><%= sul_icon :'sharp-add-24px' %><span class="sr-only">Expand</span></span>
      <span class="collapse-icon"><%= sul_icon :'sharp-remove-24px' %><span class="sr-only">Collapse</span></span>
    </button>
  </div>
  <div class="collapse w-100" id="collapseExample-<%= checkout.key.parameterize %>">
    <dl class="row justify-content-center">
      <dt class="col-5">Borrowed on:</dt>
      <dd class="col-5"><%= l(checkout.checkout_date, format: :short) %></dd>
      <% if checkout.renewal_date  %>
        <dt class="col-5">Renewed on:</dt>
        <dd class="col-5"><%= l(checkout.renewal_date, format: :short) %></dd>
      <% end %>
      <% if checkout.recalled_date  %>
        <dt class="col-5">Recalled on:</dt>
        <dd class="col-5"><%= l(checkout.recalled_date, format: :short) %></dd>
      <% end %>
      <dt class="col-5">Source:</dt>
      <dd class="col-5"><%= Mylibrary::Application.config.library_map[checkout.library] || checkout.library %></dd>
    </dl>
    <%= link_to Settings.sw.url + checkout.catkey, target: '_blank' do %>
      <%= sul_icon :'sharp-open_in_new-24px' %> View in SearchWorks
    <% end %>
  </div>
</li>
