<div class="modal-header">
  <h2>Self Checkout</h2>
</div>
<div class="modal-body">
  <%= form_with url: confirm_checkouts_path, local: true do |f| %>
    <%= hidden_field_tag :group, params[:group] if params[:group] %>
    <%= hidden_field_tag :barcode %>
    <!-- <div class="form-group">
      <%= f.label :barcode, 'Barcode' %>
      <%= f.text_field :barcode, class: 'form-control' %>
    </div> -->
    <div id="barcode-scanner-preview" style="max-height: 200px; object-fit: contain;"></div>
    <button data-quagga class="btn btn-primary">Scan</button>
    <%= link_to 'Cancel', :back, class: 'btn btn-link', data: { dismiss: 'modal' } %>
  <% end %>
</div>
