<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Library Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Stanford identity -->
    <link href="https://www-media.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <noscript>
      <%= stylesheet_link_tag 'nojs', media: 'all' %>
    </noscript>
  </head>

  <body>
    <div data-analytics-id="<%= Settings.GOOGLE_ANALYTICS_ID %>"></div>
    <div id="skip-link">
      <a href="#main" class="element-invisible element-focusable" data-turbolinks="false">Skip to main content</a>
    </div>
    <div id="su-wrap"> <!-- #su-wrap start -->
      <div id="su-content"> <!-- #su-content start -->
        <%= render '/shared/header' %>
        <%= content_for(:navigation) %>
        <main id="main" role="main" class="container mt-3 mb-3">
          <%= render partial: '/shared/flash_msg', layout: nil %>
          <%= yield %>
        </main>
      </div> <!-- #su-content end -->
    </div> <!-- #su-wrap end -->
    <%= render '/shared/sul_footer' %>
    <%= render '/shared/global_footer' %>
    <%= render partial: 'shared/modal' %>
  </body>
</html>
